# Build
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/

# VS Code
.vscode/

# User files
*.user
*.suo

# Logs
*.log

# Environment
.env

# EF
Migrations/*Snapshot.cs

# OS
.DS_Store
Thumbs.db

# Visual Paradigm 
.vpprefdata/
*.vpp.*
*.vpp.working
*.vpp.working-journal
*.lock
tmp/*
